In [1]:
FILE_NAME = 'Accident_objets'
ROW_TO_SKIP = 2
ID_LAST_ROW = 27723
TARGET_NAME = 'Accident_objets'
NB_COLS_PROCEED = 0

In [2]:
target_noms = \
{'Unnamed: 0':'voiture_index',\
'Unnamed: 1':'voiture',\
'Unnamed: 2':'age_index',\
'Unnamed: 3':'age',\
'Unnamed: 4':'sexe_index',\
'Unnamed: 5':'sexe',\
'Unnamed: 6':'annee_permis_index',\
'Unnamed: 7':'annee_permis',\
'Unnamed: 8':'faute_index',\
'Unnamed: 9':'faute',\
'Unnamed: 10':'consequence_index',\
'Unnamed: 11':'consequence'}

In [3]:
data_folder = './data/'
data_clean_folder = './data_clean/'

In [4]:
import os
import pandas as pd
import json
import folium
import matplotlib.pyplot as plt
import numpy as np
import re
import math
import numpy as np
from numpy import isnan

In [5]:
# Functions
def propagationRow(df, feature,verbose=10000):
    for i in range(len(df[feature])):
        if i == 0:
            current = df[feature][i]
        else :
            try:
                if (isnan(float(df[feature][i]))):
                    df.loc[df.index == i, feature] = current
                else :
                    current = df[feature][i]
            except:
                current = df[feature][i]
            if(i%verbose == 0):
                print("[{}] - Rows {} to {} done".format(feature,i-verbose,i))

def get_X_first_columns(df,x):
    target = []
    if (x!=0):
        reg = re.compile("Unnamed: {}".format(x-1))
        for i in df.columns:
            target.append(i)
        if reg.match(i):
            return target
    else:
        reg = re.compile("Unnamed".format(x-1))
        for i in df.columns:
            if reg.match(i):
                target.append(i)
            else:
                return target
    
    

def completeDf(df, nb_cols):
    for col in get_X_first_columns(df,nb_cols):
        propagationRow(df,col,verbose=10000)

In [20]:
df = pd.read_excel(data_folder + FILE_NAME + '.xlsx',skiprows=ROW_TO_SKIP,nrows=ID_LAST_ROW-ROW_TO_SKIP)
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Age - Total,0 ans,1 an,2 ans,...,91 ans,92 ans,93 ans,94 ans,95 ans,96 ans,97 ans,98 ans,99 ans,100 ans ou plus
0,2010.0,8100,Suisse,Population résidante permanente,Sexe - Total,Etat civil - Total,7870134.0,78031.0,79351.0,78793.0,...,10569.0,8089.0,6540.0,5002.0,3765.0,3071.0,2114.0,1413.0,905.0,1332.0
1,NaN,NaN,NaN,NaN,NaN,Célibataire,3385597.0,78031.0,79351.0,78793.0,...,943.0,680.0,560.0,498.0,389.0,321.0,203.0,146.0,90.0,175.0
2,NaN,NaN,NaN,NaN,NaN,"Marié, lié par un partenariat enregistré",3475469.0,0.0,0.0,0.0,...,2095.0,1421.0,1016.0,650.0,438.0,311.0,170.0,89.0,57.0,57.0
3,NaN,NaN,NaN,NaN,NaN,"Veuf, partenariat dissous par décès",408772.0,0.0,0.0,0.0,...,7084.0,5644.0,4703.0,3650.0,2799.0,2337.0,1651.0,1119.0,728.0,1042.0
4,NaN,NaN,NaN,NaN,NaN,"Divorcé, non marié, partenariat dissous juridi...",600251.0,0.0,0.0,0.0,...,447.0,344.0,261.0,204.0,139.0,102.0,90.0,59.0,30.0,58.0

In [10]:
completeDf(df, NB_COLS_PROCEED)
df.head(5)

[Unnamed: 0] - Rows 0 to 10000 done
[Unnamed: 0] - Rows 10000 to 20000 done
[Unnamed: 1] - Rows 0 to 10000 done
[Unnamed: 1] - Rows 10000 to 20000 done
[Unnamed: 2] - Rows 0 to 10000 done
[Unnamed: 2] - Rows 10000 to 20000 done
[Unnamed: 3] - Rows 0 to 10000 done
[Unnamed: 3] - Rows 10000 to 20000 done
[Unnamed: 4] - Rows 0 to 10000 done
[Unnamed: 4] - Rows 10000 to 20000 done
[Unnamed: 5] - Rows 0 to 10000 done
[Unnamed: 5] - Rows 10000 to 20000 done
[Unnamed: 6] - Rows 0 to 10000 done
[Unnamed: 6] - Rows 10000 to 20000 done
[Unnamed: 7] - Rows 0 to 10000 done
[Unnamed: 7] - Rows 10000 to 20000 done
[Unnamed: 8] - Rows 0 to 10000 done
[Unnamed: 8] - Rows 10000 to 20000 done
[Unnamed: 9] - Rows 0 to 10000 done
[Unnamed: 9] - Rows 10000 to 20000 done
[Unnamed: 10] - Rows 0 to 10000 done
[Unnamed: 10] - Rows 10000 to 20000 done
[Unnamed: 11] - Rows 0 to 10000 done
[Unnamed: 11] - Rows 10000 to 20000 done

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,0.0,Objet sans faute ni influence,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,0.0,Objet sans faute ni influence,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,0.0,Objet sans faute ni influence,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,1.0,Objet avec faute(s) ou influence(s),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,1.0,Objet avec faute(s) ou influence(s),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df = df.rename(index=str,columns=target_noms)
df.head(5)

,voiture_index,voiture,age_index,age,sexe_index,sexe,annee_permis_index,annee_permis,faute_index,faute,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,0.0,Objet sans faute ni influence,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,0.0,Objet sans faute ni influence,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,0.0,Objet sans faute ni influence,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,1.0,Objet avec faute(s) ou influence(s),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,1.0,Objet avec faute(s) ou influence(s),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
df.to_csv(data_clean_folder+TARGET_NAME+".csv")

In [6]:
df = pd.read_excel(data_folder+"togroup/" + "merger" + '.xlsx',skiprows=ROW_TO_SKIP,nrows=ID_LAST_ROW-ROW_TO_SKIP)

In [7]:
for i in range(1,5):
    df_local = pd.read_excel(data_folder+"togroup/" + "merger ({})".format(i) + '.xlsx',skiprows=ROW_TO_SKIP,nrows=ID_LAST_ROW-ROW_TO_SKIP)
    reg = re.compile("[0-9]{4}")
    for elem in df_local.columns.values:
        if reg.match(elem):
            df[elem] = df_local[elem]

In [8]:
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,210.0,Voiture de tourisme,0.0,Jusqu'à 4 ans,1.0,Homme,0.0,0 an,0.0,Objet sans faute ni influence,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Objet avec faute(s) ou influence(s),...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df.columns.values

array(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017'], dtype=object)